@keyframes roadStart {
  from {
    left: 100%;
  }
  to {
    left: -300%;
  }
}
@keyframes loading {
  0% {
    right: -3rem;
  }
  25% {
    right: -3rem;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 50%;
  }
}
@keyframes vanExit {
  0% {
    right: 50%;
  }
  10% {
    right: 40%;
  }
  100% {
    right: -3rem;
  }
}
@keyframes package {
  0% {
    left: -2em;
  }
  25% {
    left: 10%;
  }
  50% {
    left: 10%;
  }
  75% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}
@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes prompt {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes success {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes door {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(var(--rotation));
  }
  75% {
    transform: rotate(var(--rotation));
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.container .order-btn {
  font-size: 24px;
}
.container .reset {
  background-color: #6495ed;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.order-btn {
  border: 0;
  padding: 1em;
  border-radius: 2em;
  width: 12em;
  background-color: black;
  color: white;
  height: 3em;
  line-height: 1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  --button-time: 300ms;
  --prompt-delay: var(--button-time);
  --prompt-duration: 500ms;
  --success-delay: calc(var(--prompt-delay) + var(--prompt-duration));
  --success-duration: 1s;
  --package-delay: calc(var(--prompt-delay) + var(--prompt-duration));
  --package-duration: 3s;
  --door-delay: calc(var(--package-delay) + var(--package-duration) / 4);
  --door-duration: calc(var(--package-duration) / 2);
  --door2-delay: calc(var(--door-delay) + 200ms);
  --road-start-delay: calc(var(--package-duration) + var(--package-delay));
  --road-start-duration: 4s;
  --van-exit-delay: calc(var(--road-start-delay) + var(--road-start-duration) / 2);
  --van-exit-duration: calc(var(--road-start-duration) / 4);
  --success-delay: calc(var(--van-exit-delay) + var(--van-exit-duration) * 2);
  --success-duration: 500ms;
}
.order-btn .prompt {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-btn .success {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-btn .success .check {
  color: lightgreen;
  margin-left: 0.3em;
}
.order-btn .road-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-btn .road-container .package {
  height: 0.9em;
  width: 0.9em;
  display: flex;
  justify-content: end;
  background: #b38b6d;
  padding: 0.2em;
  box-sizing: border-box;
  position: absolute;
  left: -1em;
}
.order-btn .road-container .package .stamp {
  background: #947451;
  height: 0.3em;
  width: 0.3em;
}
.order-btn .road-container .van {
  height: 1.5em;
  width: 2em;
  position: absolute;
  right: -2em;
  background-color: white;
  border-radius: 0.1em;
}
.order-btn .road-container .van .doors {
  padding: 5% 0;
  height: 100%;
  position: absolute;
}
.order-btn .road-container .van .doors .door {
  height: 50%;
  width: 1px;
  border-radius: 1em;
  background-color: white;
  width: 0.1em;
  transform-origin: top;
  --rotation: 90deg;
}
.order-btn .road-container .van .doors .door:last-of-type {
  transform-origin: bottom;
  --rotation: -90deg;
}
.order-btn .road-container .van .cabin {
  position: absolute;
  right: -1.1em;
  background-color: #6495ed;
  height: 1.5em;
  width: 1em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  display: flex;
}
.order-btn .road-container .van .cabin .top {
  background-color: white;
  opacity: 0.2;
  height: 1.5em;
  width: 0.2em;
}
.order-btn .road-container .van .cabin .windsheild {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  border-right: 0.5em solid #152238;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.order-btn .road-container .van .cabin .lights {
  width: 0.3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8em;
}
.order-btn .road-container .van .cabin .lights .light {
  height: 0.2em;
  width: 0.2em;
  border-radius: 50%;
  background-color: #b38b6d;
  position: relative;
}
.order-btn .road-container .van .cabin .lights .light .beam {
  left: 0.1em;
  position: absolute;
  background: linear-gradient(90deg, yellow 0%, transparent 100%);
  width: 2em;
  height: 1em;
  clip-path: polygon(0 66%, 0 36%, 100% 0, 100% 100%);
  transform: translateY(-40%);
}
.order-btn .road-container .road {
  background-image: linear-gradient(to right, white 60%, transparent 0%);
  background-position: bottom;
  background-size: 1em 1px;
  background-repeat: repeat-x;
  height: 0.4em;
  width: 300%;
  right: 300%;
  position: absolute;
}
.order-btn.animate {
  animation: button var(--button-time) linear;
}
.order-btn.animate .prompt {
  animation: prompt var(--prompt-duration) var(--prompt-delay) linear forwards;
}
.order-btn.animate .package {
  animation: package var(--package-duration) var(--package-delay) linear forwards;
}
.order-btn.animate .van {
  animation: loading var(--package-duration) var(--package-delay) linear forwards, vanExit var(--van-exit-duration) var(--van-exit-delay) linear forwards;
}
.order-btn.animate .van .door {
  animation: door var(--door-duration) var(--door-delay) linear;
}
.order-btn.animate .van .door:last-of-type {
  animation-delay: var(--door2-delay);
}
.order-btn.animate .road {
  animation: roadStart var(--road-start-duration) var(--road-start-delay) linear forwards;
}
.order-btn.animate .success {
  animation: success var(--success-duration) var(--success-delay) linear forwards;
}

/*# sourceMappingURL=index.css.map */
