&.know-me-better {
    min-height: calc(100vh - 50px);
    .title {
        width: 100%;
        font-size: 40px;
        line-height: 100px;
        font-family: 'Alata';
        text-align: center;
    }
    .content {
        padding-top: 100px;
        pre {
            // font-size: 13px;
        }
    }
}