&.know-me-better {
    height: calc(100vh - 50px);
    .title {
        width: 100%;
        font-size: 40px;
        line-height: 100px;
        font-family: 'Srisakdi';
        text-align: center;
    }
}