@mixin absCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rect($height, $width) {
  height: $height;
  width: $width;
}

@mixin square($size) {
  @include rect($size, $size);
}
