body {
  height: 100svh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #444;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: 1px solid green;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  display: grid;
}
form .fieldsets {
  display: grid;
  gap: 0.5rem;
}
form .fieldsets fieldset:invalid ~ fieldset {
  display: none;
}
form .fieldsets fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}
form .fieldsets fieldset:invalid label .hint {
  color: gray;
}
form .fieldsets fieldset label .hint {
  margin-left: 10px;
  font-size: 0.8em;
  display: block;
  margin-top: 10px;
  color: green;
}
form .fieldsets fieldset input {
  margin-top: 8px;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
form .submit-container {
  height: 120px;
  width: 300px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}
form .submit-container .panel {
  backface-visibility: hidden;
}
form .submit-container .panel:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1;
}
form .submit-container .panel:nth-of-type(2) {
  grid-row: 1;
  grid-column: 2;
}
form .submit-container .panel:nth-of-type(3) {
  grid-row: 1;
  grid-column: 3;
}
form .submit-container .panel:nth-of-type(4) {
  grid-row: 2;
  grid-column: 1;
}
form .submit-container .panel:nth-of-type(5) {
  grid-row: 2;
  grid-column: 2;
}
form .submit-container .panel:nth-of-type(6) {
  grid-row: 2;
  grid-column: 3;
}
form .submit-container .panel:nth-of-type(7) {
  grid-row: 3;
  grid-column: 1;
}
form .submit-container .panel:nth-of-type(8) {
  grid-row: 3;
  grid-column: 2;
}
form .submit-container .panel:nth-of-type(9) {
  grid-row: 3;
  grid-column: 3;
}
form .submit-container .button-container {
  position: relative;
  backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  color: white;
  --translateX: 0px;
  --translateY: 0px;
  --translateZ: 0px;
  --rotateX: 0deg;
  --rotateY: 0deg;
  --rotateZ: 0deg;
  perspective: 5000px;
}
form .submit-container .button-container button {
  border: none;
  background-color: #80669d;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  transform: translate(var(--translateX), var(--translateY)) rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
  transition: transform 150ms ease-out;
}
form:invalid {
  border: 1px solid lightgrey;
}
form:invalid .panel {
  z-index: 10;
}
form:invalid .panel:nth-child(2):hover ~ .button-container,
form:invalid .panel:nth-child(5):hover ~ .button-container {
  --rotateX: 25deg;
  --rotateY: 25deg;
  --translateX: -100px;
  --translateY: 40px;
}
form:invalid .panel:nth-child(7):hover ~ .button-container {
  --rotateX: -25deg;
  --rotateY: 45deg;
  --translateX: 100px;
  --translateY: 40px;
}
form:invalid .panel:nth-child(8):hover ~ .button-container {
  --rotateX: -25deg;
  --rotateY: 45deg;
  --translateX: 100px;
  --translateY: 40px;
}
form:invalid .panel:nth-child(6):hover ~ .button-container {
  --rotateX: -25deg;
  --rotateY: 45deg;
  --translateX: -100px;
  --translateY: 0px;
}
form:invalid .panel:nth-child(9):hover ~ .button-container {
  --rotateX: -25deg;
  --rotateY: 45deg;
  --translateX: -100px;
  --translateY: -40px;
}
form:invalid .panel:nth-child(1):hover ~ .button-container {
  --rotateX: 25deg;
  --rotateY: -45deg;
  --translateX: 100px;
  --translateY: -40px;
}

/*# sourceMappingURL=index.css.map */
