.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: aliceblue;
  .cube-container {
    font-family: Helvetica, sans-serif;
    transform-style: preserve-3d;
    position: relative;
    animation: cubeRotate 10s linear infinite;
    --base-size: 20vmin;
    height: calc(var(--base-size));
    width: calc(var(--base-size));
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
    .cube {
      position: absolute;
      transform-style: preserve-3d;

      --size: var(--base-size);
      font-size: calc(0.2 * var(--size));

      .f {
        border: 1px solid #1d5292aa;
        height: var(--size);
        width: var(--size);
        position: absolute;
        opacity: 0.65;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3189b4;
        box-shadow: 0 0 calc(0.4 * var(--size)) 0 rgba(0, 0, 0, 0.45) inset;
      }
      &.cube-inner {
        --size: calc(0.8 * var(--base-size));
        transform: translateX(calc(0.1 * var(--base-size)))
          translateY(calc(0.1 * var(--base-size)));
        .f {
          opacity: 1;
          border: none;
        }
      }
      .f1 {
        transform: translateZ(calc(var(--size) / 2));
      }
      .f2 {
        transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
      }
      .f3 {
        transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
      }
      .f4 {
        transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
      }
      .f5 {
        transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
      }
      .f6 {
        transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
      }
    }
  }
}

body,
html {
  margin: 0;
  height: 100%;
}

@keyframes cubeRotate {
  0%,
  10% {
    transform: rotateX(-10deg) rotateY(10deg);
  }
  50%,
  60% {
    transform: rotateX(-10deg) rotateY(370deg);
  }

  100% {
    transform: rotateX(-370deg) rotateY(370deg);
  }
}
