.content-container {
    margin-top: 50px;   
    font-family: 'Roboto Condensed'; 
    position: relative;
    height: 100%;
    overflow-y: auto;

    .info-section {
        position: relative;
        width: 100%;
        color: white;
        @import "sections/who-am-i.scss";
        @import "sections/know-me-better.scss";   
    }
}