body {
    margin: 0;
    background-color: gray;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 70.7vh;
    display: flex;
    background-color: white;

    .side {
        flex: 0 0 30%;
        background-color: #084d41;
        .img-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            .img {
                width: 75%;
                border-radius: 100%;
            }
        }
    }

    .details {
        flex: 3;
    }
}