
@keyframes jump {
    0% { margin-bottom: 0px; margin-top:10px; }
    20% { margin-bottom: 10px; margin-top:0px; }
    40% { margin-bottom: 0px; margin-top:10px; }
}

@keyframes disco {
    0% { background-color: red; }
    50% { background-color: blue; }
    100% { background-color: red; }
 }


@keyframes logoReveal {
    0% { margin-left: -50px; } 
    100% { margin-left: inherit; }
}


@keyframes pushDown {
    0% {top: 40px;}
    50% {top: 0px;}
    100% {top: 40px;}
}

@keyframes pulse {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}