@import "fonts/Alata.css";
@import "fonts/Roboto+Condensed.css";
@import "fonts/Dancing+Script.css";
@import "fonts/Cinzel.css";
* {
  box-sizing: border-box;
  cursor: default;
}

html, body {
  margin: 0px;
  height: 100%;
}

.half-section-container {
  position: relative;
  padding: 2%;
  overflow: auto;
  /*needed so that div stretches with child divs*/
}
.half-section-container .half-section-divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid;
}
.half-section-container .half-section {
  position: relative;
  width: 44%;
  margin: 0;
  padding: 0;
}
.half-section-container .half-section:first-child {
  float: left;
}
.half-section-container .half-section:last-child {
  float: right;
}

.alignment-container {
  position: relative;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center.bottom, .center.top {
  transform: translate(-50%, 0%);
}

.bottom {
  position: absolute;
  bottom: 0;
  top: unset;
  transform: none;
}

.top {
  position: absolute;
  top: 0;
  bottom: unset;
  transform: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: opacity 1s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  opacity: 1;
}

body {
  height: calc(100% - 50px);
  background: #333333;
}
body .loader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
}
body .loader:not(.first-loaded) {
  background: white;
}
body .loader .loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .loader .loader-content .loader-icon {
  min-height: 24px;
  border: 0px;
}
body .loader .loader-content .loader-icon .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 10px;
  animation: jump 2s infinite;
}
body .loader .loader-content .loader-icon .circle:nth-of-type(1) {
  background-color: red;
}
body .loader .loader-content .loader-icon .circle:nth-of-type(2) {
  background-color: blue;
  animation-delay: 0.2s;
}
body .loader .loader-content .loader-icon .circle:nth-of-type(3) {
  background-color: green;
  animation-delay: 0.3s;
}
body .loader .loader-content .loader-icon .circle:nth-of-type(4) {
  background-color: #777777;
  animation-delay: 0.4s;
}
body.dark .loader {
  background: radial-gradient(circle at top right, #475051, #0a0a0a);
}
body.dark .loader .loader-content .loader-icon .circle:nth-of-type(1) {
  background-color: white;
}
body.dark .loader .loader-content .loader-icon .circle:nth-of-type(2) {
  background-color: whitesmoke;
}
body.dark .loader .loader-content .loader-icon .circle:nth-of-type(3) {
  background-color: lightgray;
}
body.dark .loader .loader-content .loader-icon .circle:nth-of-type(4) {
  background-color: #777777;
}
body .production {
  height: calc(100vh - 50px);
  background: url(https://www.chronicle.com/blogs/linguafranca/files/2017/11/Nothing-to-See-15a34a2fc727c8.jpg) center no-repeat;
  background-size: 80%;
  animation: disco 1s infinite;
}
body nav {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 50px;
  background: #222222;
  z-index: 2;
}
body nav .logo {
  position: absolute;
  height: 24px;
  bottom: 13px;
  left: 13px;
  font-size: 22px;
  line-height: 24px;
  font-family: "Alata";
  color: white;
  animation: logoReveal 3s 3s;
}
@media only screen and (max-width: 600px) {
  body nav .logo {
    font-family: "Roboto Condensed";
    font-weight: normal;
    border: 1px solid white;
    padding: 0px 5px;
  }
}
body nav .logo .word {
  cursor: default;
}
body nav .logo .word .non-initial {
  display: inline-block;
  width: 60px;
  transition: width 2s;
}
body nav .logo .word:nth-child(1), body nav .logo .word:hover {
  color: #ED4337;
}
body nav .logo .word:hover:nth-child(1) {
  color: white;
}
@media only screen and (max-width: 600px) {
  body nav .logo .word .non-initial {
    visibility: hidden;
    width: 0px;
  }
  body nav .logo .word:nth-child(2) {
    margin-left: -4px;
  }
}
body .content-container {
  margin-top: 50px;
  font-family: "Alata";
  position: relative;
  height: 100%;
  overflow-y: auto;
}
body .content-container .info-section {
  position: relative;
  width: 100%;
  color: white;
}
body .content-container .info-section.who-am-i {
  height: calc(100vh - 50px);
  background: #333333;
  color: white;
}
body .content-container .info-section.who-am-i .half-section-container {
  top: 14vw;
}
body .content-container .info-section.who-am-i .half-section-container .half-section-divider {
  transform: rotateZ(10deg);
  border-color: white;
  left: 31%;
}
body .content-container .info-section.who-am-i .half-section-container .half-section {
  min-height: 150px;
  width: 66%;
}
body .content-container .info-section.who-am-i .half-section-container .half-section:nth-child(1) {
  width: 32%;
}
body .content-container .info-section.who-am-i .half-section-container .half-section .question-container {
  font-size: 100px;
  font-family: "Cinzel";
}
body .content-container .info-section.who-am-i .half-section-container .half-section .text-container {
  padding: 10px;
}
body .content-container .info-section.who-am-i .arrow-down-container {
  height: 200px;
  text-align: center;
  width: 100%;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener {
  background: #333333;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener * {
  cursor: pointer;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-helper {
  opacity: 0;
  transition: opacity 0.5s linear;
}
@media only screen and (max-width: 600px) {
  body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-helper {
    opacity: 1;
    animation: pulse 2s infinite;
  }
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener:hover .arrow-helper {
  opacity: 1;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-down {
  height: 140px;
  width: 100%;
  position: relative;
  top: 40px;
  animation: pushDown 2s infinite;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-down [class^=stroke-] {
  position: absolute;
  width: 50%;
  border: 1px solid white;
  top: 23px;
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-down .stroke-left {
  left: 0;
  transform: rotateZ(45deg) translateX(19px);
}
body .content-container .info-section.who-am-i .arrow-down-container .hover-listener .arrow-down .stroke-right {
  right: 0;
  transform: rotateZ(-45deg) translateX(-19px);
}
body .content-container .info-section.know-me-better {
  min-height: calc(100vh - 50px);
}
body .content-container .info-section.know-me-better .title {
  width: 100%;
  font-size: 40px;
  line-height: 100px;
  font-family: "Srisakdi";
  text-align: center;
}
body .content-container .info-section.know-me-better .content {
  padding-top: 100px;
}
body .content-container .info-section.working-tile {
  position: relative;
  height: calc(100vh - 50px);
}

@keyframes jump {
  0% {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  20% {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  40% {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
@keyframes disco {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
@keyframes logoReveal {
  0% {
    margin-left: -50px;
  }
  100% {
    margin-left: inherit;
  }
}
@keyframes pushDown {
  0% {
    top: 40px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
