nav {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 50px;
    background: #4a4e4d;
    .logo {
        position: absolute;
        height: 24px;
        bottom: 13px;
        left: 13px;
        font-size: 22px;
        line-height: 24px;
        font-family: 'Srisakdi';
        font-weight: bold;
        color: white;
        animation: logoReveal 3s 3s;
        @media only screen and (max-width: 600px) {
            font-family: 'Roboto Condensed';
            font-weight: normal;
            border: 1px solid white;
        }
        .word {
            cursor: default;
            &:hover{
                font-size: 24px;
            }
            .non-initial{
                display: inline-block;
                width: 60px;
                transition: width 2s;
            }
            @media only screen and (max-width: 600px) {
                .non-initial {
                    visibility: hidden;
                    width: 0px;
                }
                &:hover{
                    font-size: 22px;
                }
                &:nth-child(2){
                    margin-left: -4px;
                }
            }
        }
    }
}
