nav {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 50px;
    background: #222222;
    z-index: 2;
    .logo {
        position: absolute;
        height: 24px;
        bottom: 13px;
        left: 13px;
        font-size: 22px;
        line-height: 24px;
        font-family: 'Srisakdi';
        font-weight: bold;
        color: white;
        animation: logoReveal 3s 3s;
        @media only screen and (max-width: 600px) {
            font-family: 'Roboto Condensed';
            font-weight: normal;
            border: 1px solid white;
            padding: 0px 5px;
        }
        
        .word {
            cursor: default;
            .non-initial{
                display: inline-block;
                width: 60px;
                transition: width 2s;
            }
            &:nth-child(1), &:hover {
                color: #ED4337;
            }
            &:hover:nth-child(1){
                color: white;
            }
            @media only screen and (max-width: 600px) {
                .non-initial {
                    visibility: hidden;
                    width: 0px;
                }
                &:nth-child(2){
                    margin-left: -4px;
                }
            }
        }
    }
}
